@import "reset";
@import "variables";
@import "header";
@import "navigation";
@import "card";
@import "stars";

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  background-color: $card-bg-color;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 48px;
  justify-content: center;
  width: 944px;
}
