$card-bg-color: #fff;
$card-brdr-color: #f3f3f3;
$btn-main-color: #00acdc;
$btn-text-color: #fff;
$btn-hover-bg-color: #fff;
$image_height: 134px;
$image_width: 160px;
$image_scale: 1.2;
$image_brdr_hover: 3px;
